<tr>
  <td><%= row.departmentCode %></td>
  <td><%= row.stage %></td>
  <td><%= row.severity %></td>
  <td><%= row.bottleneckScore %></td>
  <td><%= row.affectedCaseCount %></td>
  <td><%= row.recommendedAction %></td>
</tr>
