<section class="card">
  <h2>Workflow actions</h2>
  <div class="action-grid">
    <%- include('../../tasks/forms/checklist-form', { task: task }) %>
    <%- include('../../tasks/forms/query-form', { task: task }) %>
    <%- include('../../tasks/forms/inspection-schedule-form', { task: task }) %>
    <%- include('../../tasks/forms/inspection-complete-form', { task: task }) %>
    <%- include('../../tasks/forms/fee-demand-form', { task: task }) %>
    <%- include('../../tasks/forms/approval-form', { task: task }) %>
    <%- include('../../tasks/forms/rejection-form', { task: task }) %>
    <%- include('../../tasks/forms/certificate-form', { task: task }) %>
    <%- include('../../tasks/forms/comment-form', { task: task }) %>
  </div>
</section>
